.row{

    column-count:2;
}
nav{
    height: 100px;
    background-color: bisque;
}
section{
    height: 300px;
    background-color: green;
}
article{
    background-color: burlywood;
    height: 100px;
}
aside{
    background-color: red;
    height: 400px;
}